body{
  font-family: Helvetica;
  margin: 0px;
  text-align: center;
}
.header {
  color: white;
  background-image: url('/resources/images/the-flatiron-building.png');
  width: auto;
}
.header h1{
  font-size: 70px;
  font-weight: bold;
}
.header ul{
  list-style-type: none;
  line-height: 2em;
}
.header a{
  color: white;
  text-decoration: none;
}
.content a{
  color: gray;
  text-decoration: none;
}
#work h2{
  color: white;
  font-size: 23px;
  font-weight: bold;
}
