body{
  font-family: Helvetica;
  margin: 0px;
  text-align: center;
  color: dimgray;
}
div {
  vertical-align: middle;

}
.header {
  color: white;
  background-image: url('/resources/images/the-flatiron-building.png');
  width: auto;
}
.header h1{
  font-size: 70px;
  font-weight: bold;
}
.header ul{
  list-style-type: none;
  line-height: 2em;
}
.header a{
  color: white;
  text-decoration: none;
}
.content a{
  color: gray;
  text-decoration: none;
}
.content h2{
  font-size: 32px;
  font-weight: bold;
}
.content h3{
  font-size: 23px;
  font-weight: bold;
}
#totop {
  text-align: right;
  font-size: 11px;
}
#work h1{
  color: white;
  font-size: 23px;
  font-weight: bold;
}


footer {
  text-align: left;
  background-color: dimgray;
  font-size: 11px;
  color: white;
}
footer a{
  color: white;
}
