.header {
  background-image: url('file:///Users/clayakers/Documents/GitHub/Projects/broadway/resources/images/the-flatiron-building.png');
  color: gray;
  text-align: center;
}
.header h1{
  font-size: 70px;
  font-weight: bold;
}
.header ul{
  list-style-type: none;
}
